
@media screen and (min-width:600px){
::placeholder{
    color: rgb(60, 0, 255);
}

input[type=submit]{
    height: 40px;
    width: 200px;
    background-color: rgb(255, 43, 15);
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5px;
    color: #f7f7f7;
    font-weight: 900;

}
input[type=submit]:hover{
    background-color: rgb(255, 145, 145);
    color: black;
}

input[type=text],input[type=password]{

    height: 30px;
    width: 280px;
    background-color: rgb(255, 255, 255);
    font-weight: bolder;
    border: 3px solid red;
    border-radius: 5px;

}
input[type=text]:hover,input[type=password]:hover{

    
    background-color: rgb(255, 193, 204);
    font-weight: bolder;
    border:3px solid black;
    border-radius: 5px;

}
.login-page{
    height: max-content;
    width: max-content;
    float: right;
    margin-top: 100px;
    margin-right: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px ;
    border: 2px solid green;
    padding: 30px;
}
  .login-back {
    height: 100%;
    width: 100%;
    background-image: url("images/logos/login.webp");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;

  }
  input[type=button]{
    border: none;
    background-color: rgb(255, 255, 255) ;
    cursor: pointer;
    color: black;
    font-weight: bolder;
  }
  input[type=button]:hover{
    color: red;
  }

}
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
  @media screen and (max-width:600px) {
    ::placeholder{
        color: rgb(60, 0, 255);
    }
    
    input[type=submit]{
        height: 40px;
        width: 200px;
        background-color: rgb(255, 43, 15);
        border: 2px solid rgb(0, 0, 0);
        cursor: pointer;
        border-radius: 5px;
        color: #f7f7f7;
        font-weight: 900;
    
    }
    input[type=submit]:hover{
        background-color: rgb(255, 145, 145);
        color: black;
    }
    
    input[type=text],input[type=password]{
    
        height: 30px;
        width: 280px;
        background-color: rgb(255, 255, 255);
        font-weight: bolder;
        border: 3px solid red;
        border-radius: 5px;
    
    }
    input[type=text]:hover,input[type=password]:hover{
    
        
        background-color: rgb(255, 193, 204);
        font-weight: bolder;
        border:3px solid black;
        border-radius: 5px;
    
    }
    .login-page{
        height: max-content;
        width: max-content;
        float: right;
        margin-top: 100px;
        margin-right: 100px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px ;
        border: 2px solid green;
        padding: 30px;
    }
      .login-back {
        height: 100%;
        width: 100%;
        background-image: url("images/logos/login.webp");
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center center;
    
      }
      input[type=button]{
        border: none;
        background-color: rgb(255, 255, 255) ;
        cursor: pointer;
        color: black;
        font-weight: bolder;
      }
      input[type=button]:hover{
        color: red;
      }
    
  }
